<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta molestiae quasi officia tenetur odio unde? Excepturi cum accusamus aspernatur ipsam? Vitae dolores sit nemo quas natus minus illo ducimus?</p>
    </div>
</section>